<header>
    <mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar intro-fixed-nav" [containerInside]="false">
      <logo>
        <a class="logo navbar-brand" href="#">
          <strong>Navbar</strong>
        </a>
      </logo>
      <links>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active waves-light" mdbWavesEffect>
            <a class="nav-link">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
            <a class="nav-link">Link</a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
            <a class="nav-link">Profile</a>
          </li>
        </ul>
      </links>
    </mdb-navbar>
    <!-- Main -->
    <!--Carousel Wrapper-->
    <mdb-carousel [isControls]="true" class="carousel slide carousel-fade" [animation]="'fade'">
        <!--First slide-->
        <mdb-slide>
            <div class="view w-100" >
                <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(88).jpg" class="d-block w-100" alt="">
                <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
            </div>
            <div class="carousel-caption">
                <h3 class="h3-responsive">Slight mask</h3>
                <p>Third text</p>
            </div>
        </mdb-slide>
        <!--/First slide-->
        <!--Second slide-->
        <mdb-slide>
            <div class="view w-100">
                <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(121).jpg" class="img-fluid w-100" alt="">
                <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
            </div>
            <div class="carousel-caption">
                <h3 class="h3-responsive">Slight mask</h3>
                <p>Third text</p>
            </div>
        </mdb-slide>
        <!--/Second slide-->
        <!--Third slide-->
        <mdb-slide>
            <div class="view">
                <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(70).jpg" class="img-fluid w-100" alt="">
                <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
            </div>
            <div class="carousel-caption">
                <h3 class="h3-responsive">Slight mask</h3>
                <p>Third text</p>
            </div>
        </mdb-slide>
        <!--/Third slide-->
    </mdb-carousel>
    <!--/.Carousel Wrapper-->
    <!-- /.Main -->
  </header>
  <!--Main Navigation-->
  
  <section class="" id="about">
    <!-- Who we are? -->
    <div id="about-1" class="big-padding">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 align-self-center">
                    <div class="left-section">

                    
                        <div class="vertical-heading">
                            <span class="vertical-heading">
                            WHO ARE WE
                        </span> 
                        </div>
                        <h2 class="strong-heading">A Great <span class="text-primary text-uppercase">Community</span> of <span class="text-danger text-uppercase">Love</span></h2>
                    
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="right-section">
                        <p>Lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a
                            galley of type and scrambled it to make a type specimen book.
                        </p>
                        <p>It has survived not only five centuries, but also the leap into electronic typesetting,
                            remaining essentially unchanged. It was popularised in the 1960s with the release of
                            Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
                            software like Aldus PageMaker including versions of Lorem Ipsum</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Mission, history, Welcome -->
    <div id="about-2" class="mid-padding bg-light">
        <div class="container">
            <div class="row text-center wow fadeIn" data-wow-delay="0.4s" style="visibility: visible; animation-name: fadeIn; animation-delay: 0.4s;">
        
                <div class="col-md-4 mb-5 pt-1">
                  
                  <div class="card card-body hoverable">
                    <i aria-hidden="true" class="fa fa-bookmark fa-3x mb-4"></i>
                    <h4 class="feature-title mb-4">Our Mission</h4>
                    <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                  </div>
                  
                </div>
                
                
                <div class="col-md-4 mb-5">
                  
                  <div class="card card-body hoverable">
                    <i aria-hidden="true" class="fa fa-book fa-3x mb-4"></i>
                    <h5 class="feature-title mb-4">Our History</h5>
                    <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                  </div>
                  
                </div>
                
                
                <div class="col-md-4 mb-5">
                  
                  <div class="card card-body hoverable">
                    <i aria-hidden="true" class="fa fa-bar-chart fa-3x mb-4"></i>
                    <h5 class="feature-title mb-4">Our believes</h5>
                    <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                  </div>
                  
                </div>
                
              </div>
        </div>
    </div>

    <!-- Meet our team -->
    <div id="about-2" class="mid-padding">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 align-self-center">
                    <div class="left-section">

                        <h2 class="strong-heading">Meet our Leaders</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias quaerat, magni eius, nulla suscipit expedita dicta excepturi dolores modi ratione ex quibusdam molestiae vitae repellendus voluptate voluptatum perferendis veritatis minima.</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et possimus ab distinctio! Expedita ullam, molestiae excepturi nisi soluta nesciunt, mollitia nostrum dolore hic asperiores quidem nam ipsam blanditiis dicta enim!</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="right-section">
                        
                        <!--Carousel Wrapper-->
                        <mdb-carousel [isControls]="true" class="carousel slide carousel-fade" [animation]="'fade'">
                            <!--First slide-->
                            <mdb-slide>
                                <div class="view">
                                    <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(68).jpg" alt="First slide">
                                    <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
                                </div>
                                <div class="carousel-caption">
                                    <h3 class="h3-responsive">Light mask</h3>
                                    <p>First text</p>
                                </div>
                            </mdb-slide>
                            <!--/First slide-->
                            <!--Second slide-->
                            <mdb-slide>
                                <div class="view">
                                    <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(6).jpg" alt="Second slide">
                                    <div class="mask rgba-black-strong waves-light" mdbWavesEffect></div>
                                </div>
                                <div class="carousel-caption">
                                    <h3 class="h3-responsive">Strong mask</h3>
                                    <p>Secondary text</p>
                                </div>
                            </mdb-slide>
                            <!--/Second slide-->
                            <!--Third slide-->
                            <mdb-slide>
                                <div class="view">
                                    <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(9).jpg" alt="Third slide">
                                    <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
                                </div>
                                <div class="carousel-caption">
                                    <h3 class="h3-responsive">Slight mask</h3>
                                    <p>Third text</p>
                                </div>
                            </mdb-slide>
                            <!--/Third slide-->
                        </mdb-carousel>
                        <!--/.Carousel Wrapper-->
                                        
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Parallax: It is all about the glory campaign -->
    <div id="about-1" class="big-padding">
        <div class="container-fluid" data-parallax="scroll" data-image-src="http://www.themesindustry.com/html/riwa/images/about-us4-bg.jpg">
            <div class="row justify-content-md-center align-items-center" style="height:30vh;">
                <div class="col align-self-center">
                    
                    <h1 class="text-center text-light">
                        <i class="fa fa-quote-left" aria-hidden="true"></i>
                        It is all about the glory campaign
                        <i class="fa fa-quote-right" aria-hidden="true"></i> <br>
                        <span>-Pastor Julius-</span>
                    </h1>
                </div>
            </div>
        </div>
    </div>
</section>
