.view {
    // background: url("../assets/images/fullbg-church.jpeg") no-repeat center center;
    background-size: cover;
    // height: 100vh;
}
    
.navbar {
    background-color: transparent;
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #4285F4;
    }
}

#about-2  {
    background: url("../assets/images/fullbg-church.jpeg") no-repeat center center
} 