<caw-header></caw-header>

<caw-home></caw-home>

  <!--Footer-->
<footer class="page-footer blue pt-4 mt-4">

    <!--Footer Links-->
    <div class="container text-center text-md-left">
        <div class="row">

            <!--First column-->
            <div class="col-md-6">
                <h5 class="title">Footer Content</h5>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perferendis.</p>
            </div>
            <!--/.First column-->

            <!--Second column-->
            <div class="col-md-6">
                <h5 class="title mb-0">Quick Links</h5>
                <hr class="mb-2 mt-0">
                <ul class="list-unstyled">
                    <li><a href="#">Pledge</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">News</a></li>
                    <li><a href="#">Daily Word</a></li>
                </ul>
            </div>
            <!--/.Second column-->
        </div>

    </div>
    <!--/.Footer Links-->

    <!--Copyright-->
    <div class="footer-copyright text-center py-3">
        <div class="container-fluid">
            © 2018 Copyright: <a href="#"> isaacanyimiah.com </a>
        </div>
    </div>
    <!--/.Copyright-->
</footer>
<!--/.Footer-->

                  